name: Chromatic Deployment

on:
  pull_request:
    paths:
      - 'packages/storybook/**'
      - '.github/workflows/chromatic.yml'

jobs:
  chromatic-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository with full history
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # Install pnpm
      - name: Install pnpm
        run: npm install -g pnpm

      # Install dependencies
      - name: Install dependencies
        run: pnpm install

      # Stcland
      - name: Install workspace dependencies
        run: |
          pnpm install --filter @stcland/utils --filter @stcland/components
          pnpm --filter @stcland/utils build
          pnpm --filter @stcland/components build

      # Run Chromatic
      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/storybook
          buildScriptName: build-sb